{%extends 'core/includes/navBar.html' %} {%block content2%}

<h2>Home</h2>

<p>
    {%if items%}
    <ul>
        {% for item in items%}
        <li>
            {{item.item_name}}
        <ul>{{item.price}}</ul>
        </li>
        {%endfor%}
    </ul>
    {%endif%}
</p>

<footer>
    <div>
        <p><b>About</b>
        <br />
        <br />
        <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Vivamus auctor placerat finibus. 
        Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p>
    </div>
    <div>
        <p><b>Menu</b></p>
        <ul>
            <li>about</li>
            <li>contact</li>
            <li>privacy policy</li>
            <li>terms of conditions</li>
        </ul>
    </div>
</footer>
{% endblock %}


