<!DOCTYPE html>
{% extends 'core/includes/base.html' %} {% block content1 %}
<h1>
  <ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href= " {% url 'SearchItem' %}">Browse</a></li>
    {%if request.user.is_superuser %}
      <li><a href="/admin/">Admin View</a></li> 
      <li><a href= " {% url 'logout' %}">Logout</a></li>
      <li><a href= " {% url 'createItem' %}">New Item</a></li>
      <li><a href= " {% url 'dashboard' %}">Dashboard</a></li>
    {%elif request.user.is_authenticated %}
      <li><a href= " {% url 'logout' %}">Logout</a></li>
      <li><a href= " {% url 'editUser' %}">Edit profile</a></li>
      <li><a href= " {% url 'createItem' %}">New Item</a></li>
      <li><a href= " {% url 'dashboard' %}">Dashboard</a></li>
    {% else %}
      <li><a href="{% url 'register'%}">sign up</a></li>
      <li><a href="{% url 'login'%}">log in</a></li>
    {% endif %}
  </ul>
</h1>
{% endblock %} {% comment %} {% block %} {% endblock %} {% endcomment %}

